.jumbotronContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.jumbotronDesc {
  color: #777;
}

.jumbotronCTA {
  width: 233px;
  height: 52px;
  background-color: #d51d29;
  color: #ffffff;
  font-size: 18px;
  border-radius: 8px;
  border: none;
}

.partnerContainer {
  padding-bottom: 80px;
}

.partnerTitle {
  text-align: center;
  letter-spacing: 4px;
}

.partnerLogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerCTA {
  background-image: url("../public/ctaBackground.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1080px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto 80px auto;
  border-radius: 12px;
}

.containerCTA p {
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
}

.containerCTA button {
  background-color: #ffffff;
  border-radius: 4px;
  color: #d51d29;
  border: none;
  width: 233px;
  height: 52px;
  font-size: 18px;
}

.testimoniContainer {
  margin: 0 auto;
}

.cardTestimoni {
  display: inline-table;
  justify-content: space-around;
  width: 452px;
  margin: 0 20px 80px 20px;
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgb(49 53 59 / 12%);
  padding: 24px;
}

.userProfil {
  display: flex;
}

.userProfil p {
  margin-left: 12px;
  font-size: 18px;
  font-weight: 600;
}

.userImg {
  border-radius: 50%;
  object-fit: contain;
}

.userReview {
  color: #777;
}

.container404 {
  align-items: center;
  text-align: center;
}

.backToHome {
  text-decoration: underline;
  color: #d51d29;
}
